apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: app-placeholder-hpa
spec:
  minReplicas: 1
  maxReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app-placeholder
  metrics:
    - resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 70
      type: Resource
    - resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
      type: Resource
