apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - gateway.yaml

configMapGenerator:
- envs:
  - configmap.env
  name: app-a-cm


images:
  - name: change:image
    newName: isarn/istio_circuit_breaker_demo_appa
    newTag: latest

patches:
- path: patches/deployment-patch.yaml
  target:
    kind: Deployment
    name: app-placeholder
- path: patches/hpa-patch.yaml
  target:
    kind: HorizontalPodAutoscaler
    name: app-placeholder-hpa
- path: patches/service-patch.yaml
  target:
    kind: Service
    name: app-placeholder-service


namespace: apps